body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.navWrapper {
  margin-bottom: 2%;
}

.filterWrapper {
  margin: 2% 0% 2% 0%;
}

.headerText {
  color: #F5A9BC;
  font-size: 3em;
  margin: 0% 2% 0% 2%;
}

.largeHeader {
  font-size: 3.5em;
  font-weight: bold;
  color: #3B0B0B;
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: #3B0B0B;
}

.normalText {
  font-family: Georgia, serif;
  font-size: .75em;
}

.hoggyText {
  font-size: 1.5em;
}

.achievementText {
  color: purple;
}

ul {
  list-style-type: none;
  list-style: none;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: .75em;
  text-align: left;
}

.subtleText {
  color: #D1D1D1;
  font-size: .75em;
}


.indexWrapper {
  margin: auto;
}



.minBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
}

.maxBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
  opacity: 0.75;
}


.footer {
  padding: 1%;
  clear: both;
}

.ui.like.button {
  background-color: #822c2a;
  color: #fff;
}

.ui.fav.button {
  background-color: #a37148;
  color: #fff;
}

.gallery.bordered.image {
  border: 8px;
  border-style: solid;
  border-color: #ac8c79; 
  padding: 5px ;
  margin: 5px ;
  max-width: 85%
}

.marble {
  background: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ui.like.button {
  background-color: #822c2a;
  color: #fff;
}

.ui.fav.button {
  background-color: #a37148;
  color: #fff;
}

.maroon{
  color: #822c2a !important;
}

.lightBrown{
  color: #a37148 !important;
}